src/main/mule/implementation/registration-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="registration-implementationFlow" doc:id="be260f97-7f72-4c49-bc7c-13a3bf43d1a9" >
			<set-variable value='#[now() &gt;&gt; "UTC"]' doc:name="Set Variable" doc:id="916f0557-dfea-482a-bc0b-9be5321470f0" variableName="start"/>
		<logger level="INFO" doc:name="Registration Request Logger" doc:id="caf1e59e-a494-4d02-b6e0-8cd2eb213840" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now() &gt;&gt; &quot;UTC&quot;,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Process API&quot;,&#10;    DestinationApplication: &quot;Registration  System API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Request registration system API&quot;&#10;}]" />
		<http:request method="POST" doc:name="Registration Process API Request" doc:id="44cf66e4-76c5-42ff-b618-45e9d8e09b3c" config-ref="HTTP_Request_configuration" path="${http.request.path.register}" responseTimeout="120000">
			<http:body ><![CDATA[#[vars.requestData.payload]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"clientSecret" : vars.requestData.headers.clientsecret,
	"x-vio-transactionId" : vars.requestData.headers.'x-vio-transactionid',
	"clientId" : vars.requestData.headers.clientid
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"policyFlag" : vars.requestData.queryParams.policyFlag
}]]]></http:query-params>
		
</http:request>
		<logger level="INFO" doc:name="Registration End Logger" doc:id="bce26208-1119-4a98-83b1-2d58acf544c0" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.start,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;System API&quot;,&#10;    DestinationApplication: &quot;Registration process API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Response registration process API&quot;&#10;}]" />
		<ee:transform doc:name="Transform Message" doc:id="39b5f195-c690-41e3-8070-89b52e937d51" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"customersResponse" : {
		"eventInstanceId" : vars.requestData.headers.'x-vio-transactionid',
		"status" : "success"
}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-errorError_Handler" />
	</flow>
</mule>
