src/main/mule/implementation/reset-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="reset-implementationFlow" doc:id="c181a385-a9db-4367-bbe6-7036dc9ada60" >
		<set-variable value='#[now() &gt;&gt; "UTC"]' doc:name="Set Variable" doc:id="71252592-0c56-4238-8a6b-d9e0ed51aeab" variableName="start" />
		<logger level="INFO" doc:name="Reset Request Logger" doc:id="46c8226f-2ece-424b-81e0-30909746a824" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now() &gt;&gt; &quot;UTC&quot;,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Frontend UI&quot;,&#10;    DestinationApplication: &quot;Reset process API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Request reset process API&quot;&#10;}]" />
		<http:request method="POST" doc:name="Reset Process API Request" doc:id="a32efbef-f2d4-4d4f-8341-cc0a3773b8b2" config-ref="HTTP_Request_configuration" path="${http.request.path.reset}" >
			<http:body ><![CDATA[#[vars.requestData.payload]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"clientSecret" : vars.requestData.headers.clientsecret,
	"x-vio-transactionId" : vars.requestData.headers.'x-vio-transactionid',
	"clientId" : vars.requestData.headers.clientid
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"email" : vars.requestData.payload.email
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Reset End Logger" doc:id="a388ebe9-8eb8-4260-ac4f-6b2fab16b44f" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.start,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Frontend UI&quot;,&#10;    DestinationApplication: &quot;Reset process API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Response reset process API&quot;&#10;}]" />
		<ee:transform doc:name="Transform Message" doc:id="a167dc97-5fda-4df0-b752-3d5d6b808d04" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"customersResponse" : {
		"eventInstanceId" : vars.requestData.headers.'x-vio-transactionid',
		"status" : "success"
}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-errorError_Handler" />
	</flow>
	<flow name="password-reset-implementationFlow" doc:id="d4db126c-bbd2-449b-947f-95f7593ee1d3" >
		<set-variable value='#[now() &gt;&gt; "UTC"]' doc:name="Set Variable" doc:id="319057ce-c35c-4e96-88f1-bf06c8e17a0c" variableName="start" />
		<logger level="INFO" doc:name="Reset Password Request Logger" doc:id="845f8f84-41b5-4551-8d10-208aef717dce" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStamp: now() &gt;&gt; &quot;UTC&quot;,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Frontend App&quot;,&#10;    DestinationApplication: &quot;Reset password process API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Request reset password process API&quot;&#10;}]" />
		<http:request method="PUT" doc:name="Reset Password Process API Request" doc:id="6f4240d8-c4cb-4080-9daa-f722f36c4e99" config-ref="HTTP_Request_configuration" path="${http.request.path.resetpassword}" responseTimeout="200000">
			<http:body ><![CDATA[#[vars.requestData.payload]]]></http:body>
			<http:headers ><![CDATA[#[output application/java
---
{
	"clientSecret" : vars.requestData.headers.clientsecret,
	"x-vio-transactionId" : vars.requestData.headers.'x-vio-transactionid',
	"clientId" : vars.requestData.headers.clientid
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"email" : vars.requestData.payload.email
}]]]></http:uri-params>
		</http:request>
		<logger level="INFO" doc:name="Reset Password End Logger" doc:id="2acd9c65-c7b9-429e-a6e5-b5a238316489" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;    TimeStam: (now() &gt;&gt; &quot;UTC&quot;) [0 to 18],&#10;    TotalTime: now() &gt;&gt; &quot;UTC&quot;  - vars.start,&#10;    TransactionId: vars.requestData.headers.'x-vio-transactionid',&#10;    AppName: app.name,&#10;    FlowName: flow.name, &#10;    BusinessProcessName: &quot;Customer Registration&quot;,&#10;    Category: &quot;Customer&quot;,&#10;    OriginatingApplication: &quot;Frontend UI&quot;,&#10;    DestinationApplication: &quot;Reset password process API&quot;,&#10;    CustomerId: &quot;NA&quot;,&#10;    TxnState: &quot;Response reset password process API&quot;&#10;}]" />
		<ee:transform doc:name="Transform Message" doc:id="a76d7a75-0e13-4bd8-be3b-c42979f11463" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"customersResponse" : {
		"eventInstanceId" : vars.requestData.headers.'x-vio-transactionid',
		"status" : "success"
}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler ref="global-errorError_Handler" />
	</flow>
</mule>
